In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Built-in
import os
import pickle
from pathlib import Path

# External
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import RocCurveDisplay, accuracy_score, auc
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Local
from adad.distance import DAIndexGamma
from adad.evaluate import (
    cumulative_accuracy,
    permutation_auc,
    predictiveness_curves,
    roc_ad,
    sensitivity_specificity,
)
from adad.utils import open_json, to_json

In [3]:
# Load data
PATH_ROOT = Path(os.getcwd()).absolute().parent
print(PATH_ROOT)

file_data = os.path.join(PATH_ROOT, "data", "maccs", "Ames_MACCS.csv")
file_idx_train = os.path.join(PATH_ROOT, "experiments", "cv_indices", "Ames_cv_train.csv")
file_idx_test = os.path.join(PATH_ROOT, "experiments", "cv_indices", "Ames_cv_test.csv")

/home/lukec/workspace/applicabilityDomain

In [4]:
idx_train = pd.read_csv(file_idx_train, dtype=pd.Int64Dtype())
idx_train.iloc[-5:]

       cv1   cv2   cv3   cv4   cv5
5523  6476  6477  6476  6489  6502
5524  6477  6479  6477  6492  6508
5525  6479  6489  6479  <NA>  <NA>
5526  6489  6492  6489  <NA>  <NA>
5527  6492  <NA>  6492  <NA>  <NA>

In [5]:
idx_test = pd.read_csv(file_idx_test, dtype=pd.Int64Dtype())
idx_test.iloc[-5:]

      cv1   cv2   cv3   cv4   cv5
982  6497  6504  6494  6471  6476
983  6498  6505  6501  6482  6477
984  <NA>  6510  <NA>  6496  6479
985  <NA>  <NA>  <NA>  6502  6489
986  <NA>  <NA>  <NA>  6508  6492

In [6]:
data = pd.read_csv(file_data)
data["y"] = data["y"].astype("category").cat.codes
print("Labels:", data["y"].unique())
print("Shape:", data.shape)
data.head()

Labels: [0 1]
Shape: (6512, 167)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x158,x159,x160,x161,x162,x163,x164,x165,x166,y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,2.0,1.0,42.0,6.0,44.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,4.0,0.0,6.0,2.0,6.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,4.0,0.0,6.0,3.0,6.0,0.0,1

In [7]:
# Train classifier

In [8]:
# Train AD

In [9]:
# Evaluate